@keyframes loader {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -250% center;
    background-color: var(--cds-field);
  }
}

.waiting-input .cds--search-input {
  background: linear-gradient(
    to left,
    var(--cds-field),
    var(--cds-ai-aura-hover-start)
  )
  no-repeat;
  background-size: 250% auto;
  animation: loader 3s ease-out;
}

.cds--search-input {
  font-size: 1rem;
}
