@use "@carbon/react";
@use "@carbon/react/scss/colors";
@use "@carbon/layout";

body {
  background-color: black;
}

.cds--content {
  padding: 0;
}

.cds--list__item {
  padding: layout.$spacing-02;
}
