.cds--tile--clickable {
  animation: background-color-animation 1.5s ease;

  @keyframes background-color-animation {
    0% {
      background-color: var(--cds-layer-accent-01);
    }
    100% {
      background-color: var(--cds-layer);
    }
  }
  background-color: var(--cds-layer);
}

.tile-label {
  font-size: 0.8rem;
}
