.cds--tile--clickable {
  animation: background-color-animation 1.5s ease;

  @keyframes background-color-animation {
    0% {
      background-color: var(--cds-layer-accent-01);
    }
    100% {
      background-color: var(--cds-layer);
    }
  }
  background-color: var(--cds-layer);
}

.tile-label {
  font-size: 0.8rem;
}

.lead-result-title {
  font-size: 1.5rem;
  color: var(--cds-link-primary);

  .cds--tile--clickable:hover & {
    color: var(--cds-link-primary-hover);
  }
  .cds--tile--clickable:visited & {
    color: var(--cds-link-visited);
  }
}
